#bar
  %a#headline b&uumlng
  %br
  %a#byline bung bung smart smart
.container_12

  %div.grid_7#left-side
    =render "index"
  %span.grid_5#right-side
    %div#vis
      =render "vis"
    %div#comments
  
    %div#history
 