// Place all the styles related to the barrels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$light-grey: #CFCFCF;
$highlight-grey: #E6E6E6;
$rounding:5px;

$wet-asphalt: #34495E;
$midnight-blue: #2C3E50;
$related: 10px;
$brown: #806F6F;
$radius: 5px;

$seedgrain: #AB9387;
$seed: #796B6A;
$grain: #E5E1E0;
$blueberry: #3D3B60;
$berry: #7A314C;

$padding: 20px;
$button-width: 30px;

a {
background: none;
}
body{
	text-align: left;
	margin:0px;
	border-radius:10px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
#bar{
	height:50px;
	padding:$padding;
	padding-top:$padding+20;
	color:white;
	width:100%;
	background:$seedgrain;	
}
#headline{
	font-size:500%;
}
#byline{
	margin-left: 60px;
	font-size:200%;
	font-style: italic;
	padding-bottom:20px;
}
.clickable{

	padding: 10px;
	background: $light-grey;	
}
tr:hover{
	background:$highlight-grey;
	cursor:pointer;
}
#table{

    border-spacing:0px $related;
}
td{

	padding:5px 10px;
}
img{
	opacity: .8;
	height: $button-width;
}
.button{
	width: $button-width;
	background:white;
}
h1{
	
}
.section{
	color: $brown;
	font-size: 200%;
	
}
#titles{
	background: white;
	
}


#author {
	color: $blueberry;
	font-size: 120%;
}
#comment{
	font-weight: normal;
	font-size: 100%;
}
#date{
	font-weight: normal;
	color: $light-grey;
	font-size: 80%;
}


#left-side{
}

#right-side{

}

#left-edge{
	border-radius:$radius 0px 0px $radius;
}
#right-edge{
	border-radius:0px $radius $radius 0px;
}
:hover {
	color: none;
	background-color:none;
    text-decoration: none;
    opacity:1;

  }
td{
	
}
.title{
	color:$blueberry;
	text-decoration:none;
}

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: $blueberry;
  stroke-width: 1.5px;
}

.focusline {
  fill: none;
  stroke: #666666;
  stroke-width: 1.5px;
}

.readingline {
    fill: none;
    stroke: white;
    stroke-width: 0.75px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: #AAB6A2;
  stroke-width: 1.5px;
  stroke-opacity: 0.8;
}

.focus text {
  font-size: 14px arial;
}

.area {
    fill: $blueberry;
    stroke-width: 0px;
}

.title {
    font: 20px arial;
}

.subtitle {
    font: 14px helvetica;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 52px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}
